<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Login</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container" style="padding: 5%">
        <div class="gambar">
            <ion-img src="assets/image/351905d01e8531078c1cce883f1cafed-removebg-preview.png"></ion-img>
        </div>
        <div class="login">
            <h1> Log in </h1>
        </div>
        <ion-item fill="outline">
            <ion-label color="danger" position="floating">Email/Username</ion-label>
            <ion-input [(ngModel)]="form.username" [ngModelOptions]="{standalone: true}" placeholder="Enter Email/Username"></ion-input>
        </ion-item>
        <br>
        <ion-item fill="outline">
            <ion-label color="danger" position="floating">Password</ion-label>
            <ion-input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="form.password"></ion-input>
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <br>
        <ion-button color="danger" (click)="doLogin()" expand="block" style="padding: auto">
            <ion-icon slot="start" name="enter"></ion-icon>Login
        </ion-button>
        <ion-segment style="padding-top: 20px;"> Apakah sudah memiliki akun ?
        </ion-segment>
        <ion-button (click)="doRegister()" color="danger" fill="clear"> Register</ion-button>
    </div>
</ion-content>