#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    // background-color: lightyellow;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

// .gambar {
//     padding-top: auto;
//     display: flex;
// }
.login {
    padding-bottom: 13px;
}

// ion-content {}