<ion-header>
    <ion-toolbar>
        <ion-title>item</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="arrow">
        <ion-icon (click)="close()" name="chevron-back-sharp"></ion-icon>
    </div>
    <ion-card>
        <img src="{{data.gambar}}" />
        <ion-card-header>
            <ion-card-title>{{data.judul}}</ion-card-title>
            <ion-card-subtitle>Harga Rp.{{data.harga_buku}}</ion-card-subtitle>
            <ion-label>
                <h3 *ngIf="this.role == 'user'">{{quantity}}</h3>
            </ion-label>
            <br>
            <ion-button color="medium" (click)="doMin()" [disabled]="this.quantity === 1" *ngIf="this.role == 'user'">-</ion-button>
            <ion-button color="medium" (click)="doPlus()" *ngIf="this.role == 'user'">+</ion-button>
            <ion-button color="success" (click)="doCart()" class="cart" *ngIf="this.role == 'user'">Beli</ion-button>
            <ion-button color="danger" (click)="doDel()" class="cart" *ngIf="this.role == 'admin'">
                <ion-icon name="trash"></ion-icon>
                Hapus Buku
            </ion-button>

        </ion-card-header>

        <ion-card-content>
            {{data.sinopsis_buku}}
        </ion-card-content>
    </ion-card>
</ion-content>