.arrow{
    margin-left: 5px;
    font-size: 45px;
    padding-bottom: -100px;
    // border-radius: 50%;
    // width: 50px;
    margin-top: 10px;
    // background-color: #f2f2f2;
}

.onepiece{
    margin-left: 40px;
}

.cart{
    margin-left: 175px;
    padding-bottom: 5px;
}