.arrow {
    margin-left: 5px;
    font-size: 45px;
    padding-bottom: -100px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

// .square{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 350px;
//   height: 500px;
//   padding-bottom: 50px;
//   background-color:#e2e2e2;
//   border-radius: 35px;
//   border-bottom: 0px;
// }
.button {
    margin-left: 50px;
    padding-top: 3px;
    border-radius: 35px;
}