<ion-header>
    <ion-toolbar>
        <ion-title>Cart</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let book of books">
        <ion-item lines="full">
            <ion-label>
                <h2>{{book.judul_buku}}</h2>
                <p>Harga Rp.{{book.harga_buku}}</p>
                <p>Jumlah {{book.quantity_checkout}}</p>
                <h2>Total Harga Rp.{{book.total_checkout}}</h2>
            </ion-label>
            <ion-button color="success" (click)="doTransaction(book.idm_checkout)" *ngIf="this.role == 'user'">Detail</ion-button>
        </ion-item>
    </ion-list>
</ion-content>