#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 54%;
    transform: translateY(-50%);
    // background-color: lightyellow;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.gambar {
    padding-top: 32px;
}

.login {
    padding-bottom: 13px;
}

.register {
    padding-top: 21px;
    width: 335px;
    margin-left: -3px;
}